/* @media (min-width: 1200px) {
    .col {
        width: 33%;
    }
} */

body {
    font-family: Montserrat;
}

.col-12 {
    text-align: center;
    padding: 25px;
}

.desc-header {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.desc-text {
    font-size: 18px;
    padding: 0px 30px;
    margin-bottom: 20px;
}

.desc-container {
    font-size: 24px;
    padding: 25px;
    border: solid rgba(0, 0, 0, 0.3) 3px;
    /* height: 425px; */
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
}

.desc-container:hover {
    background-color: #AB3A32;
    color: white;
    cursor: pointer;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.boxes {
    max-width: 1600px;
    margin: auto;
    padding-top: 25px;
}

.desc-button {
    background-color: #AB3A32;
    color: white;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 40px;
    border-color: transparent;
}

.desc-image {
    background-color: #004785;
    border-radius: 50px;
    padding: 20px;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .col-12 {
        padding: 10px 0px;
    }
    .row {
        padding-top: 10px;
    }
}

@media (max-width: 1200px) {
    .desc-container {
        padding: 10px;
    }
}