#landing-video {
    position: fixed;
    top: 120px;
    left: 0px;
    opacity: 0.8;
}

#video-container {
    display: block;
    position: relative;
    text-align: center;
}

#main-container {
    position: absolute;
    top: 150px;
    font-family: MontsBetter;
    color: white;
}

#main-text {
    font-size: 64px;
    font-weight: bold;
    margin: 0px;
    color: white;
}

#tour-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#tour-button {
    /* background-color: #004785; */
    font-weight: bold;
    margin-top: 50px;
    font-size: 32px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    /* color: rgba(255, 255, 255, 0.8); */
}

#tour-img {
    transform: rotate(90deg)
}

#tagline {
    font-size: 32px;
}

@media(max-width: 1200px) {
    #landing-video {
        display: none;
    }
    #main-container {
        top: 50px;
    }
    #main-text {
        font-size: 54px;
    }
    #video-container {
        height: calc(100vh - 100px);
        background-image: url("/assets/img/RobloxScreenShot20200525_232021279\ 2.png");
    }
}